@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.active {
    color:            #F8F8F8;
    background-color: #4f81bd;
}

#exampleSelect1{
    width: 85% !important;
}
#exampleSelect2{
    width: 100% !important;
}
.center-div
{
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 20px;
    border-radius: 3px;
}
.text-grey{
    color: dimgrey !important;
    font: 15px/1.5 'PT Sans', serif;
    font-weight: bold;
}
.tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    display: inline-block;

}
.tag {
    background: #bfbfbf;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    font: 15px/1.5 'PT Sans', serif;
    font-weight: bold;

}

.tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}

.tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #bfbfbf;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.tag:hover {
    background-color: crimson;
    color: white;
}

.tag:hover::after {
    border-left-color: crimson;
}

body {
    padding-top: 62px;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    /*background-image: linear-gradient(to bottom, #315481, #918e82 100%);*/
    padding-top: 150px;
    font-family: sans-serif;
    background-color: #f8f8f8;
    /*background-image: linear-gradient(to bottom, #315481, #918e82 100%);*/
    background-attachment: fixed;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0;

    font-size: 18px;
    font-family: sans-serif;
    color:black;

}
p{
    text-align: justify;
}

.card-body {
    color: black;
    text-align: center !important;
}

.card{
    border-radius: 0px !important;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#mainNavBar{
    background-color: #1e262b !important;
    opacity: 1;
    margin: 0 0 0 0;

}

.card-footer{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0 0 0 0;
    border: none !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;

}

.moreInfoButton{
    width: 100% !important;
    background-color: transparent;

    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;

    border-color: transparent !important;
    padding-right: 8px;
    padding-left: 8px;
}

#oi{
    font-family: 'Lobster Two', cursive;
    font-size: 35px;
}
#sl{
    font-size: 20px;
    text-align: center;

}
@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.container2{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact-submit{
    background: darkgreen !important;
    font-size: 18px !important;
}

#addMoreButton{
    background: darkgreen !important;
    font-size: 18px !important;
}

.removeReqButton{
    font-size: 18px !important;
    background: darkred !important;
}

.form-control{
    font-size: 18px !important;
}

#midbar{
    background: darkslategray;
}

.requirementInput{
    font-size: 18px !important;
}

#contact {
    background: #F9F9F9;
    padding: 25px;
    margin: 40px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

li {
    margin-left: 15px;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
     cursor: pointer;
     width: 100%;
     border: none;
     background: #4CAF50;
     color: #FFF;
     margin: 0 0 5px;
     padding: 10px;
     font-size: 15px;
 }

#contact button[type="submit"]:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact #addMoreButton {
    cursor: pointer;
    width: 120px;
    border: none;
    /*background: #c82333;*/
    background: #218838;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 13px;
}

#contact #addMoreButton:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact #addMoreButton:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.requirementInput{
    width: 50% !important;
}

#contact .removeReqButton {
    cursor: pointer;
    width: 120px;
    border: none;
    background: #c82333;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 13px;
}

#contact .removeReqButton:hover {
    background: darkred;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact .removeReqButton:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
    text-align: center;
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

#thingId{
    position: fixed;
    margin-top: 10px !important;
    left: 30px;
    font-size: 20px;
    z-index: 729837532 !important;
}
#login-dropdown-list{
    z-index: 729837532 !important;
}

#thingId {
    /*cursor: pointer;*/
    width: 120px;
    border: none;
    /*background: #c82333;*/
    background: #218838;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 22px;
}

#thingId:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#thingId:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.navBartext{
    color:#ebebeb !important;
    font-weight: 500 !important;
}

#deleteProjectButt {
    cursor: pointer;
    width: 90%;
    border: none;
    background: #c82333;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 16px;
}

#deleteProjectButt:hover {
    background: #3a0f0f;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#deleteProjectButt:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}